---
layout: default
---
<div class="hero">
    <div class="container">
        <div class="profile-section">
            {% if page.profile_image %}
            <img src="{{ page.profile_image | relative_url }}" alt="{{ site.title }}" class="profile-image">
            {% endif %}
            <div class="profile-content">
                {{ content }}

                {% if page.show_contact %}
                <div class="contact-info">
                    <p>
                        <a href="mailto:{{ site.email }}" title="Email" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" style="vertical-align:middle;"><path d="M2 4h20v16H2V4zm2 2v12h16V6H4zm8 5.5L4.5 6.5l1.41-1.41L12 10.17l6.09-5.08L19.5 6.5 12 11.5z" fill="#b3b3b3"/></svg>
                        </a>
                        {% if site.social_links.github %}
                        <a href="https://github.com/{{ site.social_links.github }}" title="GitHub" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" style="vertical-align:middle;"><path d="M12 2C6.48 2 2 6.58 2 12.26c0 4.48 2.87 8.28 6.84 9.63.5.09.68-.22.68-.48 0-.24-.01-.87-.01-1.7-2.78.62-3.37-1.36-3.37-1.36-.45-1.18-1.1-1.5-1.1-1.5-.9-.63.07-.62.07-.62 1 .07 1.53 1.05 1.53 1.05.89 1.56 2.34 1.11 2.91.85.09-.66.35-1.11.63-1.37-2.22-.26-4.56-1.14-4.56-5.07 0-1.12.39-2.03 1.03-2.75-.1-.26-.45-1.3.1-2.7 0 0 .84-.28 2.75 1.05A9.38 9.38 0 0112 6.84c.85.004 1.71.11 2.51.32 1.91-1.33 2.75-1.05 2.75-1.05.55 1.4.2 2.44.1 2.7.64.72 1.03 1.63 1.03 2.75 0 3.94-2.34 4.81-4.57 5.07.36.32.68.94.68 1.9 0 1.37-.01 2.47-.01 2.81 0 .27.18.58.69.48A10.01 10.01 0 0022 12.26C22 6.58 17.52 2 12 2z" fill="#b3b3b3"/></svg>
                        </a>
                        {% endif %}
                        {% if site.social_links.linkedin %}
                        <a href="https://www.linkedin.com/in/{{ site.social_links.linkedin }}/" title="LinkedIn" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" style="vertical-align:middle;"><path d="M19 0h-14c-2.76 0-5 2.24-5 5v14c0 2.76 2.24 5 5 5h14c2.76 0 5-2.24 5-5v-14c0-2.76-2.24-5-5-5zm-11 19h-3v-9h3v9zm-1.5-10.28c-.97 0-1.75-.79-1.75-1.75s.78-1.75 1.75-1.75 1.75.79 1.75 1.75-.78 1.75-1.75 1.75zm13.5 10.28h-3v-4.5c0-1.08-.02-2.47-1.5-2.47-1.5 0-1.73 1.17-1.73 2.39v4.58h-3v-9h2.89v1.23h.04c.4-.75 1.38-1.54 2.84-1.54 3.04 0 3.6 2 3.6 4.59v4.72z" fill="#b3b3b3"/></svg>
                        </a>
                        {% endif %}
                        {% if site.social_links.google_scholar %}
                        <a href="https://scholar.google.com/citations?user={{ site.social_links.google_scholar }}" title="Google Scholar" target="_blank">
                            <span style="font-size:18px;vertical-align:middle;color:#b3b3b3;">🎓</span>
                        </a>
                        {% endif %}
                        <a href="https://x.com/Pranavreddy0323" title="X (Twitter)" target="_blank">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" style="vertical-align:middle;"><path d="M22.162 2.667h-4.326l-5.836 7.98-5.836-7.98h-4.326l8.162 11.16-8.162 11.173h4.326l5.836-7.98 5.836 7.98h4.326l-8.162-11.173z" fill="#b3b3b3"/></svg>
                        </a>

                    </p>
                    <p>
                        <a href="/assets/resume.pdf" class="project-link" target="_blank">📄 Download Resume</a>
                    </p>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>